<div class="side-frame">
  <svg viewBox="0 0 733 539" class="shape right lower">
    <use href="/img/right-shape-1.svg#shape" />
  </svg>
  <svg viewBox="0 0 556 429" class="shape right upper">
    <use href="/img/right-shape-2.svg#shape" />
  </svg>
  <p><%= @title %></p>
  <!--<img src="/img/bilson.png" />-->
  <svg viewBox="0 0 630 600" class="shape left lower">
    <use href="/img/left-shape-1.svg#shape" />
  </svg>
  <svg viewBox="0 0 555 501" class="shape left upper">
    <use href="/img/left-shape-2.svg#shape" />
  </svg>
</div>
