<div class="root welcome">
  <svg viewBox="0 0 733 539" class="right shape lower">
    <use href="/img/right-shape-1.svg#shape" />
  </svg>
  <svg viewBox="0 0 556 429" class="right shape upper">
    <use href="/img/right-shape-2.svg#shape" />
  </svg>
  <main class="inner">
    <h1><%= @title %></h1>
    <p>
      問題が<span><%= @quiz_length %></span>問あります。<br />
      サクサク答えちゃおう！
    </p>
    <a href="/quiz/0" class="button">スタート</a>
  </main>
  <img src="/img/shoutoku.png" />
  <svg viewBox="0 0 630 600" class="left shape lower">
    <use href="/img/left-shape-1.svg#shape" />
  </svg>
  <svg viewBox="0 0 555 501" class="left shape upper">
    <use href="/img/left-shape-2.svg#shape" />
  </svg>
</div>
