<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechPuri</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/design/design.css">
    <link rel="stylesheet" href="/css/design/design_result.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="content">
      <div class="ribbon">
        <img src="/img/designs/ribbon.png" alt="" id="ribbonImg">
      </div>
      <div class="box result-container">
        <h3>AIテクプリ</h3>
        <h2>AI TechPuri</h2>
        <h4>このテックさ、主役級</h4>
        <h1 class="result-text">顔が検出されなかったよ…</h1>
        <h1 class="result-percent">もう一度試してね！</h1>
      </div>
    </div>
    <script src="/js/animation/animation_fade_in.js"></script>
  </body>
</html>
