<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/design/design.css">
    <link rel="stylesheet" href="/css/design/design_search.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>TechPuri</title>
  </head>
  <body>
    <div id="content">
      <div class="ribbon">
        <img src="/img/designs/ribbon.png" alt="" id="ribbonImg">
      </div>
      <div class="box">
        <h3>AIテクプリ</h3>
        <h2>AI TechPuri Archive</h2>
        <h4>このテックさ、主役級</h4>
        <input type="text" id="inputID" placeholder="IDを入力">
        <h5 id="message"><%= @message %></h5>
      </div>
      <div class="button-container">
        <input type="submit" value="けんさく" id="searchButton" onclick="searchPhoto()">
      </div>
    </div>
    <script src="/js/search/search_photo.js"></script>
    <script src="/js/animation/animation_fade_in.js"></script>
  </body>
</html>
